*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: en-font;
    src: url(../font/Cairo-SemiBold.ttf);
}
body{
    font-family: en-font;
}
header{
    background-image: url(../img/header.jpg);
    background-position: center center;
    background-size: cover;
}
header .brand{
    margin: 100px auto 60px;
    display: inline-block;
    padding-bottom: 35px;
    border-bottom: 5px solid #464b52;
}
header .heading-page h1{
    font-size: 60px;
    font-weight: bold;
    line-height: 75px;
    color: #fff;
}
header .heading-page p{
    font-size: 18px;
    line-height: 25px;
    color: #acacac;
    width: 40%;
    margin: auto;
}
header .count-down{
    width: 60%;
    margin: 90px auto;
}
header .counter{
    display: inline-block;
    margin: 0 15px;
}
header .count-amount{
    font-size: 60px;
    display: block;
    font-weight: bold;
    color: #ffce00;
}
header  .count-period{
    font-size: 30px;
    display: block;
    font-weight: bold;
    color: #fff;
}
header .send-notification p{
    font-size: 18px;
    color: #fff;
}
header .input-group{
    width: 30%;
    margin: auto;
    transform: translateY(30%);
}
header .send-notification .input-group button{
    background-color: #ffce00;
    padding: 13px 33px;
    border-radius: 0;
}
header .send-notification .input-group input{
    border-radius: 0;
    border: 2px solid #e6e6e6;
    
}
header .send-notification .input-group input:focus ,
.send-notification .input-group button:focus{
    box-shadow: none;
}
/*features*/
.features .card{
    cursor: pointer;
    height: 150px;
}
.features .card:hover{
    transition: .3s all ease-in-out;
    transform: translateY(-3%);
}
.features .card p{
    line-height: 1.5em;
    height: 3em;       /* height is 2x line-height, so two lines will display */
    overflow: hidden;
}
.features .card h2{
    font-size: 24px;
    color: #555;
    margin-bottom: 5px;
}   
.features .title{
    color: #555;
}
/*footer*/
footer{
    background-image: url(../img/footer/footer-bg.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}
footer .footer-notification{
    background-color: rgba(255,206,0,.7);
    padding: 70px 0;
}
footer .footer-notification h3{
    font-size: 30px;
    margin: auto;
}
footer .input-group{
    width: 30%;
    margin: auto;
    transform: translateY(30%);
}
footer  .input-group button{
    background-color: #393939;
    padding: 13px 33px;
    border-radius: 0;
}
footer .send-notification .input-group input{
    border-radius: 0;
    border: 2px solid #e6e6e6;
    
}
footer .input-group input:focus,
footer .input-group button:focus{
    box-shadow: none;
}
/*social media*/
footer .social-media{
    background-color: rgba(57,57,57,.9);
    padding: 100px 0 30px;
}
footer .social-media h3{
    font-size: 30px;
    margin-bottom: 30px;
    color: #fff;
}
footer .social-media .list-inline a{
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 24px;
    background-color: rgba(255,255,255,.14);
    color: #fff;
    display: block;
}
footer .social-media .list-inline a:hover{
    background-color: #ffce00;
    color: #393939;
    transition: .2s all ease-in-out;
}
footer .social-media a.email{
    color: #b4b4b4;
    text-decoration: none;
}
footer .social-media a.email i{
    color: #ffce00;
    margin-right: 10px;
}
@media(max-width:1024px){
    header .count-down{
        width: 50%;
        margin: 90px auto;
    }
    header .count-amount{
        font-size: 40px;
        display: block;
        font-weight: bold;
        color: #ffce00;
    }
    header  .count-period{
        font-size: 20px;
        display: block;
        font-weight: bold;
        color: #fff;
    }
    header .heading-page p{
        font-size: 15px;
        line-height: 25px;
        color: #acacac;
        width: 60%;
        margin: auto;
    }
    /*-11-----*/
    header .send-notification p{
        font-size: 18px;
        color: #fff;
    }
    header .input-group{
        width: 40%;
        margin: auto;
        transform: translateY(30%);
    }
    header .send-notification .input-group button{
        background-color: #ffce00;
        padding: 13px 33px;
        border-radius: 0;
    }
    /*-22------*/
    footer .footer-notification{
        background-color: rgba(255,206,0,.7);
        padding: 70px 0;
    }
    footer .footer-notification h3{
        font-size: 25px;
        margin: auto;
    }
    footer .input-group{
        width: 50%;
        margin: auto;
        transform: translateY(30%);
    }
    footer  .input-group button{
        background-color: #393939;
        padding: 13px 33px;
        border-radius: 0;
    }
}
@media(max-width:768px){
    header .count-down{
        width: 80%;
        margin: 90px auto;
    }
}
@media(max-width:425px){
    header .heading-page h1{
        font-size: 40px;
        font-weight: bold;
        line-height: 75px;
        color: #fff;
    }
    header .count-down{
        width: 100%;
        margin: 50px auto;
    }
    header .count-amount{
        font-size: 30px;
        display: block;
        font-weight: bold;
        color: #ffce00;
    }
    header  .count-period{
        font-size: 15px;
        display: block;
        font-weight: bold;
        color: #fff;
    }
    header .heading-page p{
        font-size: 15px;
        line-height: 25px;
        color: #acacac;
        width: 100%;
        margin: auto;
    }
    /*-11-----*/
    header .send-notification p{
        font-size: 15px;
        color: #fff;
    }
    header .input-group{
        width: 80%;
        margin: auto;
        transform: translateY(30%);
    }
    /*-22------*/
    footer .footer-notification{
        background-color: rgba(255,206,0,.7);
        padding: 70px 0;
    }
    footer .footer-notification h3{
        font-size: 15px;
        margin: auto;
        padding: 1rem;
    }
    footer .input-group{
        width: 80%;
        margin: auto;
        transform: translateY(30%);
    }
    footer  .input-group button{
        background-color: #393939;
        padding: 13px 33px;
        border-radius: 0;
    }
}

